<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.timbly.menubartasks</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/electron</string>
    <string>/Users/tbendt/Developer/node/taskpaper-logger/index.js</string>
    <string>/Users/tbendt/Dropbox/_Tim/Projects/_tasks/</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>UserName</key>
  <string>tbendt</string>
</dict>
</plist>
