body {
  font-family: 'InputMono ExLight', Monaco, Menlo, 'Courier New', monospace;
  font-size: 12px;
  background-color: #002b36;
  color: #93a1a1;
}

th {
  color: #586e75;
  font-family: sans-serif;
  font-weight: bold;
  text-align: left;
  font-size: 16px;
}

td {
  border: 0;
  
  background-color: none;
  border-top:1px solid #586e75;
  padding: 4px 8px;
}

td:first-child {
  min-width:100px;
}

td:last-child {
  width:100px;
  font-size:10px;
}

a, a:visited {
  color: #2aa198;
}
strong {
  font-size: 14px;
  background: #dc322f;
  border-radius: 2px;
  color: #fdf6e3;
  display: inline-block;
  padding: 1px 6px;
}
em {
  color: #b58900;
  font-style: normal;
}